{:dynamodb {:access-key "dummy"  ; For DynamoDB Local, just put some random string
            :secret-key "dummy" ; For production, put your IAM keys here

            ;; This line below is the only line that is added for DynamoDB Local.
            ;; Remove it (and add your IAM keys above) to run your code in production.
            :endpoint "http://localhost:8000"}

 :twitter-app {:consumer-key    "Eq3uMsW76pQTiPKMk0W6kHjEj"
               :consumer-secret "1DIF07XGud3bRpb72AkuNkpgZLfbNMXS02ZrqVxvW2x9IudrSA"}}
