html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Roboto Slab', serif;
  font-weight: 100;
  font-size: 52px;
  background-color: #000;
  color: #ddd;
}

h1 {
  font-size: 1em;
  margin: 0;
  text-align: center;
  padding: 1em;
  font-weight: 400;
}

#banner {
  background-color: #003;
}

#previous {
  margin-top: 0.25em;
}

#previous .day {
  background-color: #003;
  color: #7ef;
  padding: 0.1em 0;
}
#previous .day:first-child {
  padding-top: 0.2em;
}
#previous .day:last-child {
  padding-bottom: 0.25em;
}


.day {
  position: relative;
  height: 1.5em;
}
.day.today {
  background-color: #eee;
  margin-bottom: 0.25em;
  padding: 0.25em 0;
}
.day.today .content {
  text-align: center;
  color: #000;
  border: none;
}

.day .content {
  position: absolute;
  display: inline-block;
  height: 1.5em;
  text-transform: lowercase;
  left: 1.25em;
  right: 1.25em;
  margin-left: 0.125em;
  margin-right: 0.125em;
  text-align: center;
}

.day:after {
  content: '\2605';
  position: absolute;
  right: 0.25em;
  color: #222;
  font-size: 0.75em;
  margin-top: 0.25em;
  transition: color 0.2s ease-out;
  cursor: pointer;
}
.day.fav:after {
  color: #aa0;
}

.day:before {
  font-size: 0.33em;
  text-transform: uppercase;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%) rotate(-90deg);
  -webkit-transform: translateY(-50%) rotate(-90deg);
  width: 4em;
  margin: 0;
  color: #555;
  font-weight: 400;
  padding: 0;
  text-align: center;
}
.mon.day:before { content: 'Mon'; }
.tue.day:before { content: 'Tue'; }
.wed.day:before { content: 'Wed'; }
.thu.day:before { content: 'Thu'; }
.fri.day:before { content: 'Fri'; }
.sat.day:before { content: 'Sat'; }
.sun.day:before { content: 'Sun'; }
.day.today:before {
  color: #999;
  content: 'Today';
}
